$bgColor: #FFF4D5;
$AccentColor: #E17055;
$textBlack: #2C3A47;
$lightBlack: #464646;
$BoldfontWeight : 600;
$tan: #f0efec;

$offwhite: #fdfcfc;

$primaryFontFamily: "canada-type-gibson",sans-serif;
$secondaryFontFamily: '"museo-slab",serif'; 

body {
	background: $bgColor;

	.container {
		width:980px;
		margin:0 auto;
		max-width: 100%;

		.tle-grocery {
			margin-left: 10px;
		}
		
		.productList{
			overflow: hidden;
			margin-top: 8px;
			display: flex;
	    	flex-direction: row;
	    	flex-wrap: wrap;
	    	justify-content: space-around;
	    	font-family: $primaryFontFamily;

			.Groceriesitem{
				width: 20%;
				height: auto;
				border: 5px solid $AccentColor;
				border-left: none;
				border-top: none;
				padding: 0px 10px;
				margin: 20px 10px 0px;
				background: $bgColor;

				.QTY {
					text-align: right;
					margin-right: 5px;
					color: $AccentColor;
				}

				.item {
					font-weight: $BoldfontWeight;
					color: $textBlack;
					padding-bottom: 10px;
	    			border-bottom: 2px solid #ddd;
				}

				.brand-and-type{
					color: $textBlack;
					height: 60px;
				}

				.category {
					color: $AccentColor;
					position: relative;
					text-transform: uppercase;
					font-weight: bold;
					margin-bottom: 0px;
					padding-bottom: 0px;
				}
			}
		}
	}

	// for tablets
	@media only screen and (max-width: 979px) {
	  	.container {

			.productList{
				.Groceriesitem{ 
					width: 26%;
					margin: 15px;
				}
			}
		}
	}

	// media query below 767px
	@media only screen and (max-width: 767px) {
		.container {
			.productList {
				flex-direction: column;
				
				.Groceriesitem {
					width: auto;
					max-width: 94%;
					margin: 10px;
					padding:0px 10px;

					.QTY {
						margin-right: 35px;
					}
						
					.item {
						font-size: 20px;
					}
				}
			}
		}
	}

	//media query for Mobiles
	@media only screen 
	  and (min-device-width: 100px) 
	  and (max-device-width: 667px) 
	  and (-webkit-min-device-pixel-ratio: 2) { 
		.container {
			.productList {
				flex-direction: column;
					
				.Groceriesitem {
					width: auto;
					max-width: 95%;
					margin: 10px;

					.QTY {
						margin-right: 35px;
					}
							
					.item {
						font-size: 20px;
					}
				}
			}
		}
	}
}